<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

<style>
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    gap: 2%;
  }

  #main-carousel {
    width: 84%;
  }

  #thumbnail-carousel {
    width: 14%;
    height: max-content;
  }

  @media screen and (max-width: 749px) {
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    #main-carousel {
      width: 100%;
    }
    #thumbnail-carousel {
      width: 100%;
    }
  }
</style>

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<div class="wrapper splide_wrapper">
  <section
    id="main-carousel"
    class="splide"
    aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {%- for media in product.media -%}
          <div class="splide__slide">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'splide-product-thumbnail-main', media: media %}
          </div>
        {%- endfor -%}
      </ul>
    </div>
  </section>

  <section
    id="thumbnail-carousel"
    class="splide"
    aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
  >
    <div class="splide__track">
      <ul class="splide__list">
        {%- for media in product.media -%}
          <div class="splide__slide">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'splide-product-thumbnail', media: media %}
          </div>
        {%- endfor -%}
      </ul>
    </div>
  </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var main = new Splide('#main-carousel', {
      type: 'fade',
      rewind: false,
      pagination: false,
      arrows: false,
      height: '100%',
      autoHeight: true,
    });

    var thumbnails = new Splide('#thumbnail-carousel', {
      fixedWidth: '70',
      fixedHeight: '70',
      gap: 10,
      rewind: false,
      pagination: false,
      isNavigation: true,
      direction: 'ttb',
      height: '100%',
      wheel: true,
      breakpoints: {
        749: {
          fixedWidth: 60,
          fixedHeight: 44,
          direction: 'ltr',
        },
      },
    });

    main.sync(thumbnails);
    main.mount();
    thumbnails.mount();

    function setThumbnailHeight() {
      // Change the height of the thumbnail slider based on the height of the active image

      var active_image = document.querySelector(
        '#main-carousel .splide__track .splide__list .splide__slide.is-active img'
      );
      var active_image_height = active_image.clientHeight;
      var thumbnail_slider = document.getElementById('thumbnail-carousel');
      thumbnail_slider.style.height = `${active_image_height - 5}px`;
    }

    setThumbnailHeight();

    thumbnails.on('resize', () => {
      setThumbnailHeight();
    });

    main.on('visible', () => {
      setThumbnailHeight();
    });
  });
</script>
